<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender para mostrar logs en consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Formato del log -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuración básica del nivel de logs -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
